
section {
    padding: 80px 0
}

@media(max-width: 767px) {
    section {
        padding: 40px 0
    }
}

section.kv {
    background: url("../images/home-header.png") center no-repeat;
    background-size: cover;
    height: 787px;
    width: 100%
}

@media(max-width: 767px) {
    section.kv {
        background: url("../images/home-header-sm.png") center no-repeat;
        background-size: cover;
        height: 396px
    }
}
section.comment .comment-text {
    min-height: 209px
}
