@import"https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto,wght@1,300;1,400;1,500;1,700&display=swap";

body {
    font-family: "Roboto", sans-serif, "Noto Sans TC";
    font-weight: 400
}

h2 {
    color: #650300;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 48px
}

@media(max-width: 767px) {
    h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px
    }
}
a
h3 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
    font-style: italic
}

p {
    font-size: 16px;
    line-height: 24px
}

h5 {
    font-size: 14px;
    color: #707070;
    line-height: 21px
}

section {
    padding: 80px 0
}

@media(max-width: 767px) {
    section {
        padding: 40px 0
    }
}

header .menu {
    font-size: 20px;
    line-height: 30px
}

section.kv {
    background: url("../images/home-header.png") center no-repeat;
    background-size: cover;
    height: 787px;
    width: 100%
}

section.kv .kv-title {
    font-size: 64px;
    line-height: 96px;
    font-weight: 600
}

section.kv .kv-title span {
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    text-transform: capitalize
}

section.kv a {
    padding: 6px 12px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500
}

@media(max-width: 767px) {
    section.kv {
        background: url("../images/home-header-sm.png") center no-repeat;
        background-size: cover;
        height: 396px
    }

    section.kv .kv-title {
        font-size: 24px;
        line-height: 36px
    }

    section.kv .kv-title span {
        font-size: 16px;
        line-height: 24px
    }
}

section.feature h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px
}

section.joint {
    background: url(../images/index-bg-sm.png) center no-repeat;
    background-size: cover
}

section.joint a {
    color: #aa0601;
    transition: .3s
}

section.joint a:hover {
    color: #650300;
    transition: .3s
}

section.comment .comment-text {
    min-height: 209px
}
